<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- 进行秘钥认证 -->
    <form action="/submit?_csrf=<%= csrf%>" method="POST">
      用户名：<input type="text" name="username" id="">
      密码：<input type="password" name="pwd" id="">
      <button type="submit">提交</button>
    </form>
  </body>
</html>
